<table class="table table-striped table-sm">
	<thead>
	<tr>
		<th scope="col"></th>
		<th scope="col">ID</th>
		<th scope="col">Адрес</th>
		<th style="max-width: 220px" scope="col">Ссылка на рекламу</th>
		<th scope="col">Время заезда</th>
		<th scope="col">Время выезда</th>
		<th scope="col">Кол-во белья</th>
		<th scope="col">Депозит</th>
		<th style="max-width: 220px" scope="col">Ссылка на фото</th>
		<th style="max-width: 220px" scope="col">Ссылка на карту</th>
		<th style="max-width: 220px" scope="col">Ссылка на WiFi</th>
	</tr>
	</thead>
	<tbody>
	{{#each apartments}}
		<tr>
			<td>
				<a class="btn btn-primary" href="/apartments/{{this.id.value}}" role="button">Edit</a>
			</td>
			<td>{{this.id.value}}</td>
			<td>{{this.address.value}}</td>
			<td class="column-width-limiter">{{this.mapLink.value}}</td>
			<td>{{this.inHour.value}}</td>
			<td>{{this.outHour.value}}</td>
			<td>{{this.linens.value}}</td>
			<td>{{this.deposit.value}}</td>
			<td class="column-width-limiter">
				<a>
					{{this.thingsLink.value}}
				</a>
			</td>
			<td class="column-width-limiter">
				<a href="{{this.mapPoint.value}}">
					{{this.mapPoint.value}}
				</a>
			</td>
			<td style="max-width: 220px;overflow-wrap: break-word;font-size: 12px;">
				{{this.wifiLink.value}}
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>
