<form id="apartment">
  <div class="mb-3">
    <h3>{{apartment.id}}</h3>
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Адрес</label>
    <input id="address" class="form-control form-control-sm" value="{{apartment.address}}" type="text" required />
  </div>
  <div class="mb-3">
    <label for="ads" class="form-label">Ссылка на рекламу</label>
    <input id="ads" class="form-control form-control-sm" value="{{apartment.ads}}" type="text" />
  </div>
  <div class="mb-3">
    <label for="inHour" class="form-label">Время заезда</label>
    <input id="inHour" class="form-control form-control-sm" type="text" value="{{apartment.inHour}}" required />
  </div>
  <div class="mb-3">
    <label for="outHour" class="form-label">Время выезда</label>
    <input id="outHour" class="form-control form-control-sm" type="text" value="{{apartment.outHour}}" required />
  </div>
  <div class="mb-3">
    <label for="deposit" class="form-label">Сумма предоплаты</label>
    <input id="deposit" class="form-control form-control-sm" type="number" step="1" min="0" value="{{apartment.deposit}}" required />
  </div>
  <div class="mb-3">
    <label for="linens" class="form-label">Кол-во комплектов постельного белья</label>
    <input id="linens" class="form-control form-control-sm" type="number" step="1" min="0" value="{{apartment.linens}}" required />
  </div>
  <div class="mb-3">
    <label for="thingsLink" class="form-label">Ссылка на фото квартиры</label>
    <input id="thingsLink" class="form-control form-control-sm" type="text" value="{{apartment.thingsLink}}" required />
  </div>
</form>